body {
    background-color: rgb(21, 13, 122);
    color: skyblue;
}

#outerFrame {
    background-color: rgb(17, 10, 73);
    border: 5px solid #4121e0;

    text-align: center;
    /*#leftDiv is overridden with left align*/

    position:fixed;

    width: 70%;
    right: 15%;
    left: 15%;

    height: 84%;
    top: 8%;
    bottom: 8%;
}

header {
    margin-bottom: 10px;
}
footer {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
}


.nav {
    margin: auto;
    width: 70%;
    padding: 15px;
    /*margin-bottom: 15px;*/
}
.nav > span {
    margin-right: 4%;
    margin-left: 4%;
    font-size: 20px;
    background-color: black;
    box-shadow: 0 0 4px #4121e0;
    padding: 10px;
}
.nav > span:hover {
    background-color: #4121e0;
    color: black;
    cursor:pointer;
    box-shadow: 0 0 6px black;
    transition: all 200ms ease-out;
}

.bar {
    width: 90%;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -0%);
    -webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
    -o-transform: translate(-50%, -0%);
}
.bar::after {
    content: "";
    clear: both;
    display: table;
}

#leftDiv {
    width: 10%;
    float: left;
    text-align: left;
    padding-top: 6px; /*for aligning with nav bar*/
}
#leftDiv > * {
    margin-top: 4px;
}

main {
    background-color: rgb(22, 22, 22);

    padding:1%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
main  * {
    /*color: blueviolet;*/
    margin: 10px;
}

th {
    /*text-align: left;*/
    width: 110px;
    height: 35px;
}
td {
    text-align: center;
    width: 300px;
    height: 35px;
}
section {
    float:left;
}

#title {
    font-size:25px;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

input[type="text"] {
    width:100px;
}

.error {
    color: red;
}
.success {
    color: greenyellow;
}

textarea {
    padding: 5px;
    border: 3px solid #4121e0;
    border-radius: 4px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: skyblue;
    background-color:rgb(17, 10, 73);

    resize: none;
}

.mySlides {display: none;}

.prev:hover, .next:hover {
    cursor: pointer;
}

/* temporary
#langDiv, .nav, .bar, table, th, td, div, details, summary, form {
    border: 2px solid #73AD21;
} */